{% extends 'shop/base.html' %}
{% block content %}
<h2>
    <form action="{% url 'shop_index' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="search_line" maxlength="40" size="40" placeholder="search" value="{{ search_line }}"/>
        <br/>
        <input type="submit" value="Search"/>
    </form>
    <form method="POST">
        {% csrf_token %}
        <table>{{ sortForm }}</table>
        <input type="submit" value="sort"/>
    </form>
    <ul>
        {% for product in products %}
        <li><a href="{% url 'product_by_id' product.id%}">{{ product.title }}</a></li>
        {% endfor %}
    </ul>
</h2>
{% endblock %}